src/*
poetry.lock
pyrightconfig.json
.gitignore
todo.md
*.pyc
.vscode/settings.json
garbagge.json
garbagge_2.json
error.json
build/*
dist/*
main.spec
docs/user_manual/ger/benutzerhandbuch_symcirc.log
docs/user_manual/ger/benutzerhandbuch_symcirc.out
docs/user_manual/ger/benutzerhandbuch_symcirc.toc
docs/user_manual/ger/benutzerhandbuch_symcirc.aux
